<!DOCTYPE html>
<html lang="zh">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no"
    />
    <meta name="robots" content="noindex" />
    <meta name="googlebot" content="noindex" />
    <meta name="robots" content="noindex, nofollow" />
    <meta property="og:image" content="./images/my01.jpg" />
    <meta property="og:image:type" content="image/jpg" />
    <meta property="og:image:width" content="436" />
    <meta property="og:image:height" content="228" />
    <meta property="og:title" content="Wenwu 作品集" />
    <meta
      property="og:description"
      content="一位對程式有興趣的青年男子的作品"
    />
    <link rel="icon" href="./images/my01-square.jpg" type="image/x-icon" />
    <link href="./images/my01-square.jpg" rel="apple-touch-icon" />
    <title><%= weatherData.name %> - (<%= weatherData.sys.country%>)</title>
    <link rel="stylesheet" href="/styles/table.css" />
  </head>
  <body>
    <header>
      <a href="/"><h1>Wenwu 作品集</h1></a>
    </header>

    <section>
      <h1><%= weatherData.name %> Weather Now</h1>
      <table>
        <tr>
          <td>Main Weather</td>
          <td><%= weatherData.weather[0].main %></td>
        </tr>
        <tr>
          <td>Weather Description</td>
          <td><%= weatherData.weather[0].description %></td>
        </tr>
        <tr>
          <td>Temperature</td>
          <td><%= newTemp %> ℃</td>
        </tr>
      </table>
      <br />
      <a href="./">Go back to last page.</a>
    </section>
  </body>
</html>
